---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="flex h-full flex-col items-center justify-center">
    <h1 class="flex">Hi from Flavio!</h1>
  </div>
</MainLayout>
