---
import { Icon } from "astro-icon";

const { title, description, link } = Astro.props;
---

<a
  href={link}
  class="flex flex-col rounded-lg border-4 border-gray-500 border-opacity-90 bg-gray-500 bg-opacity-30 p-5"
>
  <span class="text-xl font-bold">{title}</span>
  <span class="line-clamp-4">{description}</span>
  <button type="button" class="flex justify-end text-myLightBlue">
    <Icon
      class="mr-2"
      name="ri:arrow-right-circle-fill"
      height="30"
      width="30"
    />
  </button>
</a>
