---
const { text } = Astro.props;
---

<div class="flex items-center">
  <span
    class="rounded-full border-gray-500 bg-gray-500 bg-opacity-30 px-3 text-sm font-light"
  >
    {text}
  </span>
</div>
