---
import { Icon } from "astro-icon";
import Button from "./Button.astro";
---

<div class="flex h-full flex-col items-center justify-center">
  <div class="flex flex-row">
    <!-- <Icon class="text-white" name="bx:error-alt" /> -->
    <p>Something went wrong :(</p>
    <Button />
  </div>
</div>
