---
---

<footer class="flex flex-row justify-center mt-3">
  <small>
    Flavio Rizzoglio | <span id="year"></span>
  </small>
</footer>

<script>
  document.getElementById("year").textContent = new Date()
    .getFullYear()
    .toString();
</script>
