---
import { getProjects } from "../data/projects.data";
import { ButtonPropsColor, IconSide } from "../models/ButtonProps.model";
import { ProjectData } from "../models/Project.model";
import Button from "./Button.astro";
import Card from "./Card.astro";

const projects: ProjectData[] = getProjects();
---

<div class="flex flex-col gap-3 px-2">
  <span
    class="flex w-full justify-center border-b border-gray-600 px-2 text-2xl font-bold"
  >
    Some of my projects:
  </span>
  {
    projects.map((project) => (
      <>
        <Card
          title={project.name}
          description={project.text_description}
          link={"projects/" + project.link}
        />
      </>
    ))
  }
  <div class="flex flex-row justify-center">
    <div class="flex flex-col">
      <Button
        text="See more"
        href="https://github.com/mightyflavieee?tab=repositories"
        isGradient={true}
        ariaLabel="See more projects on my GitHub"
      />
    </div>
  </div>
</div>
