---
import Card from "./Card.astro";
---

<div class="flex flex-col gap-3 px-2">
  <span class="text-2xl font-bold">Some of my projects:</span>
  <Card
    title="Test title"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore corrupti doloremque hic ipsam sit, numquam tenetur perspiciatis quos! Laborum iste repellat quia aspernatur, ipsam illum, impedit quaerat porro atque explicabo, fugit delectus quo! Ipsum eveniet deleniti eius fugiat at."
    link="/"
  />
  <Card
    title="Test title"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore corrupti doloremque hic ipsam sit, numquam tenetur perspiciatis quos! Laborum iste repellat quia aspernatur, ipsam illum, impedit quaerat porro atque explicabo, fugit delectus quo! Ipsum eveniet deleniti eius fugiat at."
    link="/"
  />
  <Card
    title="Test title"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore corrupti doloremque hic ipsam sit, numquam tenetur perspiciatis quos! Laborum iste repellat quia aspernatur, ipsam illum, impedit quaerat porro atque explicabo, fugit delectus quo! Ipsum eveniet deleniti eius fugiat at."
    link="/"
  />
</div>
