---
import { Icon } from "astro-icon";
import ProjectLayout from "../../layouts/ProjectLayout.astro";

export function getStaticPaths() {
  return [
    { params: { project: "this-website" }, props: { title: "This Website!" } },
    {
      params: { project: "masters-of-reinassance" },
      props: { title: "Masters Of Reinassance" },
    },
    {
      params: { project: "la-giocomotiva-com" },
      props: { title: "Masters Of Reinassance" },
    },
  ];
}

const { title, description } = Astro.props;
---

<ProjectLayout title={title} description={description}>
  <div>ciaoooo</div>
</ProjectLayout>
