---
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";

const {
  title = "Flavio Rizzoglio | Homepage",
  description = "Flavio Rizzoglio's personal website.",
} = Astro.props;
---

<html lang="en">
  <MainHead {title} {description} />
  <body class="bg-slate-900 text-white h-screen flex flex-col overflow-auto">
    <main class="md:h-full h-fit">
      <slot />
    </main>
    <Footer />
  </body>
</html>
