---
import { Icon } from "astro-icon";
import MainLayout from "./MainLayout.astro";

const { title, description } = Astro.props;
---

<MainLayout title={"Flavio Rizzoglio | " + title} description={description}>
  <div class="mt-5 flex w-full flex-col gap-2 px-4">
    <div class="flex flex-row">
      <a href="/" class="flex flex-col justify-start">
        <Icon name="mdi:keyboard-backspace" height="35" width="35" />
      </a>
    </div>

    <div
      class="prose max-w-none rounded-lg border-4 border-gray-500 border-opacity-90 bg-gray-500 bg-opacity-10 p-4 prose-headings:text-white prose-p:text-white prose-a:text-myLightBlue prose-strong:text-myLightBlue prose-li:text-white prose-table:text-white"
    >
      <slot />
    </div>
  </div>
</MainLayout>
