---
import { Icon } from "astro-icon";
import MainLayout from "./MainLayout.astro";

const { frontmatter } = Astro.props;
---

<MainLayout
  title={"Flavio Rizzoglio | " + frontmatter.title}
  description={frontmatter.description}
>
  <div class="mt-5 flex w-full flex-col gap-2 px-4">
    <div class="flex flex-row justify-between">
      <a href="/">
        <Icon name="mdi:keyboard-backspace" height="40" width="40" />
      </a>
      <a
        href={frontmatter.description}
        target="_blank"
        class="flex flex-row items-center gap-2"
        class:list={[
          frontmatter.description.includes("github") ? '' : 'hidden'
        ]}
      >
        <span>GitHub:</span>
        <Icon name="mdi:github" height="30" width="30" />
      </a>

      <a
        href={frontmatter.description}
        target="_blank"
        class="flex flex-row items-center gap-2"
        class:list={[
          !frontmatter.description.includes("github") ? '' : 'hidden'
        ]}
      >
        <span>Website:</span>
        <Icon name="mdi:globe" height="30" width="30" />
      </a>
    </div>

    <div
      class="prose max-w-none rounded-lg border-4 border-gray-500 border-opacity-90 bg-gray-500 bg-opacity-10 p-4 prose-headings:text-white prose-p:text-white prose-a:text-myLightBlue prose-strong:text-myLightBlue prose-li:text-white prose-table:text-white"
    >
      <slot />
    </div>
  </div>
</MainLayout>
